.loader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.loader img
{
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: 50%;
}

[name="address_id"] {
  position: relative;
  bottom: .5rem;
  margin-right: .3rem;
}

.control-label {
  line-height: 1.2rem;
}